
@media (max-wdith:450px;) {
    .h-1, .h-2{
        font-size: 35px;
    }
}

    /* Mobile responsive */
    @media (max-width: 768px) {
      .grid-container {
        grid-template-columns: 1fr;
      }
      .guidance {
        grid-row: auto;
      }
    }